<%= form_with(model: dont_sell, local: true) do |form| %>
  <% if dont_sell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dont_sell.errors.count, "error") %> prohibited this dont_sell from being saved:</h2>

      <ul>
      <% dont_sell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th> <%= form.label :customer, "Customer code" %> </th>
        <th> <%= form.label :part, "Part code" %> </th>
        <th>Part description</th>
        <th> <%= form.label :dontcalls_start, "Start date" %> </th>
        <th> <%= form.label :dontcalls_end, "End date" %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= form.select :customer, @customer, {}, {:value => params[:customer], :id => "dont_sell_customer", :onChange=> ('dontSellLists()')} %> </td>
        <td> <%= form.select :part, @part, {}, {:value => params[:part], :id => "dont_sell_part", :onchange=> ('dontSellDesc()')} %> </td>
        <td> <div id="partdesc"> <%= @desc %> </div> </td>
        <td> <%= form.date_select :dontcalls_start, id: :dont_sell_dontcalls_start %> </td>
        <td> <%= form.date_select :dontcalls_end, id: :dont_sell_dontcalls_end %> </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<p id= "customers" hidden> <%= $allcust %> </p>
<p id= "customersA" hidden> <%= $allcustA %> </p>
<p id= "parts" hidden> <%= $allpart %> </p>
<p id= "descs" hidden> <%= $alldesc %> </p>
