<p id="notice"><%= notice %></p>

<h2>Showing Don't Sell</h2>

<p>
  <strong>Customer:</strong>
  <%= @dont_sell.customer %>
</p>

<p>
  <strong>Part:</strong>
  <%= @dont_sell.part %>
</p>

<p>
  <strong>Start:</strong>
  <%= display_date(@dont_sell.dontcalls_start) %>
</p>

<p>
  <strong>End:</strong>
  <%= display_date(@dont_sell.dontcalls_end) %>
</p>

<%= link_to 'Edit', edit_dont_sell_path(@dont_sell) %>
<%= link_to 'List', dont_sells_path %>
