<p id="notice"><%= notice %></p>

<h1>On Specials</h1>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Customer</th>
      <th>Part</th>
      <th>Start</th>
      <th>End</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @on_specials.each do |on_special| %>
      <tr>
        <td><%= on_special.customer %></td>
        <td><%= on_special.part %></td>
        <td><%= display_date(on_special.onspecials_start) %></td>
        <td><%= display_date(on_special.onspecials_end) %></td>
        <td><%= link_to 'Show', on_special %></td>
        <td><%= link_to 'Edit', edit_on_special_path(on_special) %></td>
        <td><%= link_to 'Delete', on_special, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New On Special', new_on_special_path %>
