<p id="notice"><%= notice %></p>

<h2>Showing On Special</h2>

<p>
  <strong>Customer:</strong>
  <%= @on_special.customer %>
</p>

<p>
  <strong>Part:</strong>
  <%= @on_special.part %>
</p>

<p>
  <strong>Start:</strong>
  <%= display_date(@on_special.onspecials_start) %>
</p>

<p>
  <strong>End:</strong>
  <%= display_date(@on_special.onspecials_end) %>
</p>

<%= link_to 'Edit', edit_on_special_path(@on_special) %>
<%= link_to 'List', on_specials_path %>
